body {
    margin: 0px;
    background-color: #ded8d2;
    font-family: Fira Sans;
}
#navbar-placeholder{
    width: 100%;
    position: absolute;
}
header{
    position: relative;
}
.navbar {
    background-color: #b0c4b1; 
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.box {
    background-color: red;
    height: 200px;
    width: 20px;
    margin: 10px;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    margin-left: 20px;
}
@media screen and (min-width: 500px){
    main{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        flex-grow: 1;
    }
}
