*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
    background-color: #fff9e5;
}
header{
    background-color: #fff9e5;
    position: sticky;
    top: 0;
    padding: 0 0 10px;
}
footer{
    padding: 20px;
}
.footer-area{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logo{
    height: 40px;
    padding: 20px 0px;
}
.footer ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}
.icon{
    width: 30px;
    height: 30px;
}
.button{
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #5fa141;
    border-radius: 1.2rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #fff9e5;
    width: 100%;
}
.navbar img{
    height: 50px;
    padding: 10px;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar-links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.2rem;
    align-items: center;
    list-style-type: none;
}
.sections{
    padding: 25px 20px;
    font-size: 18px;
}
.sections h2{
    font-size: 2rem;
    margin: 10px 0;
}
.sections p{
    padding: 10px 0;
}
.hero {
    padding: 50px 20px;
}
.hero *{
    margin: 0 0 20px;
}
.hero button{
    font-size: 1rem;
}
.hero h1{
    font-size: 2.5rem;
}
.hero p{
    font-size: 18px;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sec1 p{
    font-size: 18px;
    padding: 20px 0;
}
.data p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    padding: 20px;
    background-color: #fffcee;
    border: 2px solid #ffe696;
    border-radius: 20px;
    box-sizing: border-box;
}
.sec2 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    gap: 20px;
    list-style-type: "✓ "
}
.testimonial-head{
    text-align: center;
}
.testimonial-data{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    text-align: center;
    flex-grow: 1;
    margin-top: 20px;
    padding: 0 20px 20px;
    
}
.testimonial-data p{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 60%;
    padding: 10px 10px 20px;
    background-color: #fffcee;
    border: 2px solid #ffe696;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px -1px #ffe696;
}
.testimonial-data p img{
    width: 15%;
    height: auto;
    margin: 10px;
    background-color: #fffcee;
}
.top{
    padding: 20px;
}
.top h1{
    font-size: 2.5rem;
    margin: 10px 0;
}
.top p{
    font-size: 18px;
}
.philosophy ul{
    display: flex;
    flex-direction: column;
    list-style:inside;
    padding: 20px;
    gap: 10px;
}
.team-flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    flex-grow: 1;
    margin-top: 20px;
    padding: 0 20px 20px;
}
.team-flex div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #fffcee;
    border: 2px solid #ffe696;
    border-radius: 10px;
    box-sizing: border-box;
}
.team-flex div *{
    background-color: #fffcee;
}
.pricing-top{
    text-align: center;
}
.pricing{
    display: flex;
    flex-direction: column;
    list-style: inside;
    flex-wrap: nowrap;
    flex-grow: 1;
    gap: 20px;
}
.cards{
    display: flex;
    flex-direction: column;
    background-color: #fffcee;
    border: 2px solid #ffe696;
    box-shadow: 0 0 20px -1px #ffe696;
    border-radius: 10px;
    padding: 20px;
}
.cards *{
    background-color: #fffcee;
}
.card-top{
    border-bottom: 1px solid #0000004f;
    background-color: #fffcee;
}
.card-bottom p{
    font-size: 22px;
}
.sign-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 232, 232);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.sign-box{
    background-image: url(assets/images/Sign_temp.webp);
    background-size: cover;
    padding: 45vw;
    border-radius: 30px;
    box-shadow: 0 0 100px 1px #d2d2d2;
}
@media screen and (min-width: 990px) {
    header{
        padding: 0;
    }
    .button{
        border: 0;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        background-color: #fff9e5;
        width: 100%;
    }
    .navbar-links{
        display: flex;
        justify-content: right;
        gap: 50px;
        font-size: 1.4rem;
        list-style-type: none;
    }
    .center-margin{
        margin: 0 140px 0;
    }
    .sections{
        margin: 20px 0;
    }
    .sections h2{
        font-size: 48px;
    }
    .sections p{
        font-size: 26px;
    }
    .sec2 li{
        font-size: 26px;
    }
    .hero{
        padding: 100px 20px 120px;
    }
    .hero button{
        font-size: 1.2rem;
    }
    .hero h1{
        padding: 80px 0 0;
        font-size: 96px;
    }
    .hero p{
        font-size: 36px;
        margin: 36px 0 36px;
    }

    .testimonial-data{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 40px;
        text-align: center;
        flex-grow: 1;
    }
    .testimonial-data p{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        width: 30%;
        padding: 10px 40px 40px;
        background-color: #fffcee;
        border: 2px solid #ffe696;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .philosophy li{
        font-size: 26px;
    }
    .top h1{
        font-size: 4rem;
    }
    .top p{
        font-size: 26px;
    }
    .team-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;
        text-align: center;
        flex-grow: 1;
        margin-top: 20px;
        padding: 0 20px 20px;
    }
    .team-flex div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        padding: 20px;
        background-color: #fffcee;
        border: 2px solid #ffe696;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .pricing{
        width: 70%;
        display: flex;
        flex-direction: row;
        list-style: inside;
        flex-wrap: nowrap;
        flex-grow: 1;
        gap: 20px;
    }
    .cards{
        width: 100%;
    }
    .card-top h2{
        font-size: 36px;
    }
    .card-top p{
        font-size: 18px;
    }
    .card-bottom p{
        font-size: 18px;
    }
    .pricing-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sign-page{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(232, 232, 232);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .sign-box{
        background-image: url(assets/images/Sign_temp.webp);
        background-size: cover;
        padding: 30vh;
        border-radius: 30px;
        box-shadow: 0 0 100px 1px #d2d2d2;
    }
}