*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #fff9e5;
    width: 100%;
}
.navbar img{
    height: 60px;
    padding: 10px;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar-links{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.4rem;
    list-style-type: none;
}
.sign-btn{
    padding: 10px 20px;
    box-sizing: border-box;
    background: linear-gradient(#5ea041,#1f713d);
    border: 3px solid rgb(61, 133, 61);
    border-radius: 2rem;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}
body{
    background-color: #fff9e5;
}
main{
    margin: 100px 200px 0px;
    z-index: 1;
}
footer{
    margin: 20px 200px 20px;
}
.box{
    display: flex;
    height: 400px;
    border: 2px solid black;
}
.footer-links{
    list-style-type: none;
}