*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    align-items: center;
    background-color: #fff9e5;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}
.navbar img{
    height: 60px;
    padding: 10px;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar-links{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 50px;
    font-size: 1.4rem;
}
.sign-btn{
    padding: 10px 20px;
    background-color: rgb(0, 255, 0);
    border: 2px solid rgb(61, 133, 61);
    background: linear-gradient(#5ea041,#1f713d);
    border-radius: 2rem;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4rem;
}
.box{
    display: flex;
    height: 500px;
    border: 4px solid black;
}
main{
    z-index: 1;
    margin: 100px 200px 0px
}
footer{
    margin: 0 200px 0;
    list-style-type: disc;
}
.footer-links{
    list-style-type: none;
}