*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #fff9e5;
    width: 100%;
}
.navbar img{
    height: 60px;
    padding: 10px;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar-links{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.4rem;
    list-style-type: none;
}
.button{
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #5fa141;
    border-radius: 1.2rem;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}
.sign-btn{
    border: 2px solid #407428;
    padding: 8px 20px;
}
.sign-btn a{
    color: white;
}
body{
    background-color: #00061a;
}
header{
    background-color: #fff9e5;
    position: sticky;
    top: 0;
}
main{
    background-color: #fff9e5;
}
footer{
    position: relative;
    bottom: 0;
    background-color: #00061a;
    padding: 40px 0 40px;
}
footer *{
    color: white;
}
.center-margin{

    padding: 0 200px 00px;
}
.hero{
    margin-bottom: 200px;
}
.hero-heading{
    padding: 140px 0 36px;
    font-size: 96px;
}
.hero-para{
    font-size: 36px;
    margin: 36px 0 36px;
}
.plans-btn{
    border-radius: 25px;
    background-color: #2a7b04;
    border: 0;
}
.data{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 100px;
}
.data-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #fffcee;
    border: 2px solid #ffe696;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.15s;
}
.data-text:hover{
    transform: scaleY(1.1);
    box-shadow: 0 0 10px -2px #5fa141;
}
.sections h2{
    font-size: 48px;
    margin: 20px 0 20px;
}
.sections p{
    font-size: 26px;
}
.sections ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 26px;
    margin: 20px 40px 20px;
}
.testimonial-head{
    text-align: center;
    padding: 40px 0 0;
}
.testimonial{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 40px;
    text-align: center;
    flex-grow: 1;
    padding: 50px;
}
.testimonial p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-width: 300px;
    width: 450px;
    background-color: #fffcee;
    border: 2px solid #ffe696;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
}
.testimonial p img{
    width: 30%;
    margin: 20px;
}
.footer-links{
    list-style-type: none;
}
.sign-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 232, 232);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.sign-box{
    background-image: url(assets/images/healthSign_temp.webp);
    background-size: cover;
    height: 600px;
    width: 600px;
    border-radius: 30px;
    box-shadow: 0 0 100px 1px #d2d2d2;
}