*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
    background-color: #fff9e5;
}
header{
    background-color: #fff9e5;
    position: sticky;
    top: 0;
    padding: 0 0 10px;
}
.button{
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #5fa141;
    border-radius: 1.2rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #fff9e5;
    width: 100%;
}
.navbar img{
    height: 50px;
    padding: 10px;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar-links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.2rem;
    align-items: center;
    list-style-type: none;
}
.sections{
    padding: 25px 20px;
}
.sections h2{
    font-size: 2rem;
}
.hero {
    padding: 50px 20px;
}
.hero *{
    margin: 0 0 20px;
}
.hero button{
    font-size: 1rem;
}
.hero-heading{
    font-size: 2.5rem;
}
.hero-para{
    font-size: 18px;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sec1 p{
    font-size: 18px;
    padding: 20px 0;
}
.data p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    padding: 20px;
    background-color: #fffcee;
    border: 2px solid #ffe696;
    border-radius: 20px;
    box-sizing: border-box;
}
.sec2 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 18px;
    padding: 20px;
    gap: 20px;
    list-style-type: "✓ "
}
.testimonial-head{
    text-align: center;
}
.testimonial-data{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    text-align: center;
    flex-grow: 1;
    margin-top: 20px;
    padding: 0 20px 20px;
}
.testimonial-data p{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 60%;
    padding: 10px 10px 20px;
    background-color: #fffcee;
    border: 2px solid #ffe696;
    border-radius: 10px;
    box-sizing: border-box;
}
.testimonial-data p img{
    width: 15%;
    height: auto;
    margin: 10px;
    background-color: #fffcee;
}
@media screen and (min-width: 990px) {
    header{
        padding: 0;
    }
    .button{
        border: 0;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        background-color: #fff9e5;
        width: 100%;
    }
    .navbar-links{
        display: flex;
        justify-content: right;
        gap: 50px;
        font-size: 1.4rem;
        list-style-type: none;
    }
    .center-margin{
        margin: 0 140px 0;
    }
    .sections{
        margin: 20px 0;
    }
    .sections h2{
        font-size: 48px;
    }
    .sections p{
        font-size: 26px;
    }
    .hero {
        padding: 100px 20px 120px;
    }
    .hero button{
        font-size: 1.2rem;
    }
    .hero-heading{
        padding: 80px 0 0;
        font-size: 96px;
    }
    .hero-para{
        font-size: 36px;
        margin: 36px 0 36px;
    }

    .testimonial-data{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 40px;
        text-align: center;
        flex-grow: 1;
    }
    .testimonial-data p{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        width: 30%;
        padding: 10px 40px 40px;
        background-color: #fffcee;
        border: 2px solid #ffe696;
        border-radius: 10px;
        box-sizing: border-box;
    }
}